{% extends 'base.html.twig' %}

{% block title %} Listes des cryptos monnaies avec cours {% endblock %}

{% block body %}
    <div class="container">
        
        <h1>Listes des cryptos monnaies avec cotations</h1>
       
    </div>
    
{% endblock %}