{% extends 'base.html.twig' %}

{% block title %}  Vente des crypto monnaies {% endblock %}

{% block body %}
    <div class="container">
        <h1>Vente des crypto monnaies</h1>
    </div>
    
{% endblock %}